<div class="banknote">
    <div class="logo-border">
        <div class="logo">GANOPOLY</div>
    </div>

    <div class="banknote-border-double">
        <div class="banknote-border">
            <div class="banknote-inside-out">
                <div class="banknote-inside-border">
                    <div class="banknote-inside-border-double">
                        <div class="banknote-inside">

                            <div class="circle-center">
                                <div class="circle-inside-center">
                                    <span>1</span>
                                </div>


                            </div>

                            <div class="rect first">
                                <div class="first-rect"></div>
                                <div class="second-rect">
                                    <span class="text">1</span>
                                </div>
                            </div>

                            <div class="rect second">
                                <div class="first-rect"></div>
                                <div class="second-rect">
                                    <i class="fa-solid fa-house striped-icon"></i>
                                </div>
                            </div>

                            <div class="rect three">
                                <div class="first-rect"></div>
                                <div class="second-rect">
                                    <span class="text">1</span>
                                </div>
                            </div>
                            <div class="rect four">
                                <div class="first-rect"></div>
                                <div class="second-rect">
                                    <i class="fa-solid fa-train striped-icon"></i>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
