<div class="banknote">
    <div class="logo-border">
        <div class="logo">GANOPOLY</div>
    </div>

    <div class="banknote-border-double">
        <div class="banknote-border">
            <div class="banknote-inside-out">
                <div class="banknote-inside-border">
                    <div class="banknote-inside-border-double">
                        <div class="banknote-inside">
                            <div class="rect">
                                <div class="first-rect"></div>
                                <div class="second-rect"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
