<div class="board">
    <div class="board-row">
        <div class="cell-square"></div>
        <div class="cell">
            <div class="cell-top"></div>
            <div class="cell-content">
                <div class="name">RUE GRANDE<br />DINANT</div>
                <div class="prix">60€</div>
            </div>
        </div>
        <div class="cell">
            <div class="cell-top"></div>
            <div class="cell-content">
                <div class="name">RUE GRANDE<br />DINANT</div>
                <div class="prix">60€</div>
            </div>
        </div>
        <div class="cell">
            <div class="cell-top"></div>
            <div class="cell-content">
                <div class="name">RUE GRANDE<br />DINANT</div>
                <div class="prix">60€</div>
            </div>
        </div>
        <div class="cell">
            <div class="cell-top"></div>
            <div class="cell-content">
                <div class="name">RUE GRANDE<br />DINANT</div>
                <div class="prix">60€</div>
            </div>
        </div>
        <div class="cell">
            <div class="cell-top"></div>
            <div class="cell-content">
                <div class="name">RUE GRANDE<br />DINANT</div>
                <div class="prix">60€</div>
            </div>
        </div>
        <div class="cell">
            <div class="cell-top"></div>
            <div class="cell-content">
                <div class="name">RUE GRANDE<br />DINANT</div>
                <div class="prix">60€</div>
            </div>
        </div>
        <div class="cell">
            <div class="cell-top"></div>
            <div class="cell-content">
                <div class="name">RUE GRANDE<br />DINANT</div>
                <div class="prix">60€</div>
            </div>
        </div>
        <div class="cell">
            <div class="cell-top"></div>
            <div class="cell-content">
                <div class="name">RUE GRANDE<br />DINANT</div>
                <div class="prix">60€</div>
            </div>
        </div>
        <div class="cell">
            <div class="cell-top"></div>
            <div class="cell-content">
                <div class="name">RUE GRANDE<br />DINANT</div>
                <div class="prix">60€</div>
            </div>
        </div>
        <div class="cell-square"></div>
    </div>

    <div class="board-row left-part">
        <div class="cell-empty"></div>
        <div class="cell">
            <div class="cell-top"></div>
            <div class="cell-content">
                <div class="name">RUE GRANDE<br />DINANT</div>
                <div class="prix">60€</div>
            </div>
        </div>
        <div class="cell">
            <div class="cell-top"></div>
            <div class="cell-content">
                <div class="name">RUE GRANDE<br />DINANT</div>
                <div class="prix">60€</div>
            </div>
        </div>
        <div class="cell">
            <div class="cell-top"></div>
            <div class="cell-content">
                <div class="name">RUE GRANDE<br />DINANT</div>
                <div class="prix">60€</div>
            </div>
        </div>
        <div class="cell">
            <div class="cell-top"></div>
            <div class="cell-content">
                <div class="name">RUE GRANDE<br />DINANT</div>
                <div class="prix">60€</div>
            </div>
        </div>
        <div class="cell">
            <div class="cell-top"></div>
            <div class="cell-content">
                <div class="name">RUE GRANDE<br />DINANT</div>
                <div class="prix">60€</div>
            </div>
        </div>
        <div class="cell">
            <div class="cell-top"></div>
            <div class="cell-content">
                <div class="name">RUE GRANDE<br />DINANT</div>
                <div class="prix">60€</div>
            </div>
        </div>
        <div class="cell">
            <div class="cell-top"></div>
            <div class="cell-content">
                <div class="name">RUE GRANDE<br />DINANT</div>
                <div class="prix">60€</div>
            </div>
        </div>
        <div class="cell">
            <div class="cell-top"></div>
            <div class="cell-content">
                <div class="name">RUE GRANDE<br />DINANT</div>
                <div class="prix">60€</div>
            </div>
        </div>
        <div class="cell">
            <div class="cell-top"></div>
            <div class="cell-content">
                <div class="name">RUE GRANDE<br />DINANT</div>
                <div class="prix">60€</div>
            </div>
        </div>
        <div class="cell-empty"></div>
    </div>


    <div class="board-row right-part">
        <div class="cell-empty"></div>
        <div class="cell">
            <div class="cell-top"></div>
            <div class="cell-content">
                <div class="name">RUE GRANDE<br />DINANT</div>
                <div class="prix">60€</div>
            </div>
        </div>
        <div class="cell">
            <div class="cell-top"></div>
            <div class="cell-content">
                <div class="name">RUE GRANDE<br />DINANT</div>
                <div class="prix">60€</div>
            </div>
        </div>
        <div class="cell">
            <div class="cell-top"></div>
            <div class="cell-content">
                <div class="name">RUE GRANDE<br />DINANT</div>
                <div class="prix">60€</div>
            </div>
        </div>
        <div class="cell">
            <div class="cell-top"></div>
            <div class="cell-content">
                <div class="name">RUE GRANDE<br />DINANT</div>
                <div class="prix">60€</div>
            </div>
        </div>
        <div class="cell">
            <div class="cell-top"></div>
            <div class="cell-content">
                <div class="name">RUE GRANDE<br />DINANT</div>
                <div class="prix">60€</div>
            </div>
        </div>
        <div class="cell">
            <div class="cell-top"></div>
            <div class="cell-content">
                <div class="name">RUE GRANDE<br />DINANT</div>
                <div class="prix">60€</div>
            </div>
        </div>
        <div class="cell">
            <div class="cell-top"></div>
            <div class="cell-content">
                <div class="name">RUE GRANDE<br />DINANT</div>
                <div class="prix">60€</div>
            </div>
        </div>
        <div class="cell">
            <div class="cell-top"></div>
            <div class="cell-content">
                <div class="name">RUE GRANDE<br />DINANT</div>
                <div class="prix">60€</div>
            </div>
        </div>
        <div class="cell">
            <div class="cell-top"></div>
            <div class="cell-content">
                <div class="name">RUE GRANDE<br />DINANT</div>
                <div class="prix">60€</div>
            </div>
        </div>
        <div class="cell-empty"></div>
    </div>
    <div class="board-row bottom">
        <div class="cell-square"></div>
        <div class="cell">
            <div class="cell-top"></div>
            <div class="cell-content">
                <div class="name">RUE GRANDE<br />DINANT</div>
                <div class="prix">60€</div>
            </div>
        </div>
        <div class="cell">
            <div class="cell-top"></div>
            <div class="cell-content">
                <div class="name">RUE GRANDE<br />DINANT</div>
                <div class="prix">60€</div>
            </div>
        </div>
        <div class="cell">
            <div class="cell-top"></div>
            <div class="cell-content">
                <div class="name">RUE GRANDE<br />DINANT</div>
                <div class="prix">60€</div>
            </div>
        </div>
        <div class="cell">
            <div class="cell-top"></div>
            <div class="cell-content">
                <div class="name">RUE GRANDE<br />DINANT</div>
                <div class="prix">60€</div>
            </div>
        </div>
        <div class="cell">
            <div class="cell-top"></div>
            <div class="cell-content">
                <div class="name">RUE GRANDE<br />DINANT</div>
                <div class="prix">60€</div>
            </div>
        </div>
        <div class="cell">
            <div class="cell-top"></div>
            <div class="cell-content">
                <div class="name">RUE GRANDE<br />DINANT</div>
                <div class="prix">60€</div>
            </div>
        </div>
        <div class="cell">
            <div class="cell-top"></div>
            <div class="cell-content">
                <div class="name">RUE GRANDE<br />DINANT</div>
                <div class="prix">60€</div>
            </div>
        </div>
        <div class="cell">
            <div class="cell-top"></div>
            <div class="cell-content">
                <div class="name">RUE GRANDE<br />DINANT</div>
                <div class="prix">60€</div>
            </div>
        </div>
        <div class="cell">
            <div class="cell-top"></div>
            <div class="cell-content">
                <div class="name">RUE GRANDE<br />DINANT</div>
                <div class="prix">60€</div>
            </div>
        </div>
        <div class="cell-square"></div>
    </div>

</div>
