    .board {
        display: flex;
    }

    .board-inside {
        display: flex;
        flex-direction: column;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        transition: transform 0.5s ease-in-out;
    }

    .board-middle {
        flex-grow: 1;
        display: flex;
        .left {
            background-color: yellow;
            .board-row {
                flex-direction: column-reverse;
            }
        }
        .center {
            background: linear-gradient(180deg, #335577 0%, #4575A3 52.88%, #0A2A3F 100%);
            flex-grow: 1;
        }
        .right {
            background-color: yellow;
            .board-row {
                transform: rotateZ(180deg);
                flex-direction: column-reverse;
            }
            .cell-h {
                .cell-top {
                    border-left: unset;
                    border-right: 2px solid black;
                }
                .cell-content {
                    transform: rotateZ(-90deg);
                }
            }
        }
    }

    .board-row {
        display: flex;
        &.top {
            transform: rotateZ(180deg);
            flex-direction: row-reverse;
        }
        &.below {
            flex-direction: row-reverse;
        }
    }
