<div class="dice">
    <div class="face-1" *ngIf="score < 1 || score > 6">
        <div class="mystery">?</div>
    </div>
    <div class="face-1" *ngIf="score == 1">
        <div class="point"></div>
    </div>
    <div class="face-2" *ngIf="score == 2">
        <div class="point"></div>
        <div class="point"></div>
    </div>
    <div class="face-3" *ngIf="score == 3">
        <div class="point"></div>
        <div class="point"></div>
        <div class="point"></div>
    </div>
    <div class="face-4" *ngIf="score == 4">
        <div>
            <div class="point"></div>
            <div class="point"></div>
        </div>
        <div>
            <div class="point"></div>
            <div class="point"></div>
        </div>
    </div>

    <div class="face-5" *ngIf="score == 5">
        <div>
            <div class="point"></div>
            <div class="point"></div>
        </div>
        <div>
            <div class="point"></div>
        </div>
        <div>
            <div class="point"></div>
            <div class="point"></div>
        </div>
    </div>

    <div class="face-6" *ngIf="score == 6">
        <div>
            <div class="point"></div>
            <div class="point"></div>
        </div>
        <div>
            <div class="point"></div>
            <div class="point"></div>
        </div>
        <div>
            <div class="point"></div>
            <div class="point"></div>
        </div>
    </div>
</div>