<div class="card text-white bg-dark mb-3" *ngIf="(player | async) as player">




    <div class="row g-0">
        <div class="col-md-12 left-part" [style.border-left-color]="player?.playerColor">
            <div class="pion">
                <div [class]="player?.pawnShape?.toString()"></div>
            </div>
            <div class="detail-player">
                <h5>{{ player?.name | uppercase }}</h5>
                <span>Total: {{ playerTotal }} €</span>
            </div>
        </div>
        <div class="col-md-12" *ngIf="!isHuman">
            <div class="detail-properties">
                <div class="cards-ganopoly" *ngIf="mycards$ | async as mycards">
                    <gano-cards [cards]="mycards"></gano-cards>
                </div>
            </div>



        </div>
        <div class="col-md-12" *ngIf="isHuman">
            <div class="card-body">
                <div [id]="'carousel-' + player?.name" class="carousel slide" data-bs-ride="false">
                    <div class="carousel-indicators">
                        <button type="button" [attr.data-bs-target]="'#carousel-' + player?.name" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" [attr.data-bs-target]="'#carousel-' + player?.name" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" [attr.data-bs-target]="'#carousel-' + player?.name" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="carousel-caption ">
                                <h5 class="text-white">Notes</h5>
                                <div class="billets">
                                    <ng-container *ngFor="let billet of player?.billets">
                                        <div *ngIf="billet.quantity > 0" class="d-flex flex-column">
                                            <div class="quantity">
                                                <span>x{{ billet.quantity }}</span>
                                            </div>
                                            <div class="billet-small-container">
                                                <gano-banknote [value]="billet.euro "></gano-banknote>
                                            </div>
                                        </div>
                                    </ng-container>

                                </div>

                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="carousel-caption">
                                <h5>Properties</h5>
                                <div class="cards-ganopoly" *ngIf="mycards$ | async as mycards">
                                    <gano-cards [cards]="mycards"></gano-cards>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="carousel-caption">
                                <h5>Community Cards / Chance Cards</h5>
                                <div class="cards-ganopoly" *ngFor="let communityCard of player?.communityCards">
                                    <gano-community-card [readOnly]=true [communityCard]="communityCard"></gano-community-card>
                                </div>
                                <div class="cards-ganopoly" *ngFor="let chanceCard of player?.chanceCards">
                                    <gano-chance-card [readOnly]=true [chanceCard]="chanceCard"></gano-chance-card>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" [attr.data-bs-target]="'#carousel-' + player?.name" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
                    <button class="carousel-control-next" type="button" [attr.data-bs-target]="'#carousel-' + player?.name" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
                </div>




                <p class="ms-auto card-text "><small class="text-body-secondary ">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>
