<div class="card">
    <div class="card-header">
        Ganopoly
    </div>
    <div class="card-body">
        <ng-container *ngIf="!isStartGame">
            <a class="btn btn-primary" (click)="startGame()">New Game</a>
        </ng-container>
        <ng-container *ngIf="isStartGame">
            <gano-doubledice [showButton]="showButtonRollDice" (finishRollDiceEvent)="finishRollDice($event)"></gano-doubledice>
        </ng-container>

        <ng-container *ngIf="isHumanAction">
            card to play ?
            <ng-container *ngIf="currentCard$ | async as currentCard">
                <gano-cards [cards]="currentCard">
                </gano-cards>
                <a class="btn btn-primary" (click)="buy()">Buy</a>
                <a class="btn btn-primary" (click)="skip()">Not Buy</a>
            </ng-container>


        </ng-container>


    </div>

</div>