<div class="card text-white bg-dark" *ngIf="(playerToPlay$ | async) as playerToPlay">
    <div class="card-header" [style.border-left-color]="playerToPlay?.playerColor">
        <h5>{{ playerToPlay.name | uppercase }}</h5>
        <span>, it's your turn!</span>

    </div>
    <div class="card-body">
        <ng-container *ngIf="isStartGame">
            <gano-doubledice [showButton]="showButtonRollDice" (finishRollDiceEvent)="finishRollDice()"></gano-doubledice>
        </ng-container>
        <ng-container *ngIf="playerToPlay.jail">
            <div class="d-flex">
                <button class="btn btn-outline-primary" (click)="jailPay() " [disabled]="playerToPlay.jailDice > 0">Pay 50€</button>
                <button class="btn btn-outline-primary mx-2" (click)="jailCardFree() " [disabled]="playerToPlay.jailDice > 0" *ngIf="hasAnyJailFreeCard">Card Free from Jail</button>
                <!-- <a class="btn btn-outline-primary" (click)="jailThrowDice() ">Throw dice to go out</a> ! -->
            </div>
        </ng-container>

        <ng-container *ngIf="cellCase$ | async as cell">
            <div *ngIf="cell.cardtype === CardType.caisse" class="mt-4">
                <gano-community-card (communityCardEvent)="communityCardAction($event)"></gano-community-card>
                <div class="d-flex justify-content-center mt-4">
                    <a class="btn btn-outline-primary " (click)="communityCardPlay()" *ngIf="showCommunityButton">OK</a>
                </div>

            </div>

            <div *ngIf="cell.cardtype === CardType.chance" class="mt-4">
                <gano-chance-card (chanceCardEvent)="chanceCardAction($event)"></gano-chance-card>
                <div class="d-flex justify-content-center mt-4">
                    <a class="btn btn-outline-primary " (click)="chanceCardPlay()" *ngIf="showChanceButton">OK</a>
                </div>
            </div>

            <div *ngIf="cell.cardtype === CardType.start" class="mt-4">
                You will receive +200
                <div class="d-flex justify-content-center mt-4">
                    <a class="btn btn-outline-primary " (click)="startCase() ">OK</a>
                </div>

            </div>

            <div *ngIf="cell.cardtype === CardType.taxe || cell.cardtype === CardType.impots || cell.cardtype === CardType.prison || cell.cardtype === CardType.parking || cell.cardtype === CardType.toprison">

                <div class=" cell-zoom ">
                    <gano-cell [color]="cell.color " [cardtype]="cell.cardtype " [info]="cell.info" [cardImg]="cell.img" [name]="cell.name " [ville]="cell.ville " [price]="cell.price " [orientation]="cell.orientation " [isCorner]="cell.isCorner ">
                    </gano-cell>
                </div>
                <div class="d-flex justify-content-center mt-4">
                    @if (cell.cardtype === CardType.impots || cell.cardtype === CardType.taxe ) {
                    <a class="btn btn-outline-primary " (click)="PayTaxes() ">Pay</a> } @else if (cell.cardtype === CardType.toprison) {

                    <a class="btn btn-outline-primary " (click)="GoToJail() ">Go To Jail</a> } @else {
                    <a class="btn btn-outline-primary " (click)="Ok() ">OK</a> }
                </div>

            </div>
            <div *ngIf="cell.cardtype === CardType.immobilier || cell.cardtype === CardType.eaux || cell.cardtype === CardType.elec || cell.cardtype === CardType.gare">

                <div class="d-flex mt-4">
                    <div class=" cell-zoom ">
                        <gano-cell [color]="cell.color " [cardtype]="cell.cardtype " [info]="cell.info" [cardImg]="cell.img" [name]="cell.name " [ville]="cell.ville " [price]="cell.price " [orientation]="cell.orientation " [isCorner]="cell.isCorner ">
                        </gano-cell>
                    </div>

                    <ng-container *ngIf="card$ | async as card ">
                        <gano-cards [card]="card "></gano-cards>
                    </ng-container>
                </div>

                <ng-container *ngIf="(isHumanTurn$ | async) ">
                    <div class="d-flex justify-content-center mt-4">
                        <a class="btn btn-outline-warning me-2 " (click)="skip() ">Skip</a>
                        <a class="btn btn-primary " (click)="buy() ">Buy</a>
                    </div>
                </ng-container>

            </div>



        </ng-container>



    </div>
</div>
