<div class="community-card" (click)="!communityCard && takeCard()" [class.flipped]="isFlipped && communityCard" [class.disabled]="communityCard">
    <div class="community-card-inner">
        <div class="community-inside-card-border community-card-front">
            <div class="community-inside-card">
                <div class="card-content">
                    <div class="chest"></div>
                </div>
            </div>
        </div>
        <div class="community-inside-card-border  community-card-back">
            <div class="community-inside-back-card">
                <h4>caisse de communauté</h4>
                <p [innerHTML]="communityCard?.text"></p>
            </div>
        </div>
    </div>
</div>
