.game {
    display: flex;
}

.board-parent {
    display: flex;
    justify-content: center;
}

.banknotes {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.newplayer {
    display: flex;
    justify-content: center;
    align-items: center;
}