.game {
    display: flex;
}

.board-parent {
    display: flex;
    justify-content: center;
}

.banknotes {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.newplayer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    /* semi-transparent pour indiquer l’attente */
    z-index: 1055;
    pointer-events: all;
    /* bloque les clics */
    cursor: not-allowed;
}
