<gano-header [isStartGame]="isStartGame" [boardVisible]="boardShow" (rotateEvent)="rotateBoard()" (boardEvent)="boardShowActive()" (cardsEvent)="cardShowActive()" (bankNoteEvent)="bankNoteShowActive()"></gano-header>

<div class="newplayer" *ngIf="!isStartGame">
    <gano-human-player [name]="playerName" (nameChange)="startGame($event)"></gano-human-player>
</div>

<div class="game" *ngIf="isStartGame">
    <div class="d-flex flex-wrap">


        <div *ngIf="boardShow" class="board-parent">
            <div class="d-flex flex-wrap">
                <div>
                    <gano-board (isLoading)="checkIsLoading($event)" [rotate]="rotation "></gano-board>
                </div>
                <div>
                    <div *ngIf="true">
                        <gano-info-player [player]="playerHuman$ | async"></gano-info-player>
                        <gano-info-player [player]="playerComputer1$ | async"></gano-info-player>
                        <gano-info-player [player]="playerComputer2$ | async"></gano-info-player>
                        <gano-info-player [player]="playerComputer3$ | async"></gano-info-player>
                    </div>
                </div>
            </div>

        </div>
        <div *ngIf="cardsShow">
            <gano-cards [cards]="this.mycards$ | async"></gano-cards>
        </div>

        <div *ngIf="bankNoteShow" class="banknotes">
            <gano-banknote [color]="'white'" [value]="1"></gano-banknote>
            <gano-banknote [color]="'#ffdad2'" [value]="5"></gano-banknote>
            <gano-banknote [color]="'#beedfd'" [value]="10"></gano-banknote>

            <gano-banknote [color]="'#f4fdc8'" [value]="20"></gano-banknote>
            <gano-banknote [color]="'#d9c8ff'" [value]="50"></gano-banknote>
            <gano-banknote [color]="'#ffda99'" [value]="100"></gano-banknote>
            <gano-banknote [color]="'#fe9d26'" [value]="500"></gano-banknote>
        </div>





    </div>
</div>
