<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Ganopoly</a>
        <div class="me-auto d-flex">
            <button class="btn btn-dark btn-action" (click)="rotate()" type="submit"><i class="fa-solid fa-rotate-right"></i> <span>Rotate</span></button>
            <button class="btn btn-dark btn-action" (click)="board()" type="submit"><i class="fa-solid fa-chess-board"></i> <span>Board</span></button>
            <button class="btn btn-dark btn-action" (click)="cards()" type="submit"><i class="fa-solid fa-house"></i><span>Cards</span></button>
            <button class="btn btn-dark btn-action" (click)="bankNote()" type="submit"><i class="fa-solid fa-piggy-bank"></i><span>Banknote</span></button>
        </div>
    </div>
</nav>
