<div [ngClass]="{
  'cell': !isCorner && orientation === 'vertical',
  'cell-h': !isCorner && orientation === 'horizontal',
  'cell-square': isCorner
}">
    <div class="pions-container" [ngClass]="{'pions-v': !isCorner && orientation === 'vertical', 'pions-h': !isCorner && orientation === 'horizontal', 'pions-square': isCorner
}">
        <div class="pions" *ngIf="(nummCell  )===players?.human?.currentCase">
            <div class="pion">
                <div [class]="players?.human?.pawnShape"></div>
            </div>
        </div>
        <div class="pions" *ngIf="(nummCell  )===players?.computer1?.currentCase">
            <div class="pion">
                <div [class]="players?.computer1?.pawnShape"></div>
            </div>
        </div>
        <div class="pions" *ngIf="(nummCell  )===players?.computer2?.currentCase">
            <div class="pion">
                <div [class]="players?.computer2?.pawnShape"></div>
            </div>
        </div>
        <div class="pions" *ngIf="(nummCell  )===players?.computer3?.currentCase">
            <div class="pion">
                <div [class]="players?.computer3?.pawnShape"></div>
            </div>
        </div>


    </div>

    <ng-container *ngIf="cardtype === CardType.immobilier">
        <div *ngIf="!isCorner" class="cell-top" [style.backgroundColor]="color">
            <div class="houses" [class.rotate-houses-90]="orientation==='horizontal'">
                {{ totalHouse }}
                <ng-container *ngIf="totalHouse > 0 && totalHouse < 5">
                    <div class="house" *ngFor="let i of [].constructor(totalHouse);"><i class="fa-solid fa-house"></i></div>
                </ng-container>
                <ng-container *ngIf="totalHouse === 5">
                    <div class="hotel"><i class="fa-solid fa-house"></i></div>
                </ng-container>
            </div>
        </div>
        <div *ngIf="!isCorner" class="cell-content">
            <div class="name" [innerHTML]="name"></div>
            <div class="ville" [innerHTML]="ville"></div>
            <div class="prix">{{ price }}€</div>
        </div>
    </ng-container>
    <ng-container *ngIf="cardtype === CardType.chance">
        <div class="cell-content" [class.content-ml2]="orientation==='horizontal'">
            <div class="name" [style.color]="color"> Chance</div>
            <img [src]="cardImg" class="cell-img" />
        </div>
    </ng-container>

    <ng-container *ngIf="cardtype === CardType.caisse">
        <div class="cell-content" [class.content-ml2]="orientation==='horizontal'">
            <div class="name">Caiise de communauté</div>
            <div class="symbol" [style.color]="'grey'">
                <img [src]="cardImg" class="cell-img" />
            </div>
        </div>
    </ng-container>



    <ng-container *ngIf="cardtype === CardType.gare">
        <div class="cell-content" [class.content-ml2]="orientation==='horizontal'">
            <div class="name" [innerHTML]="name"></div>
            <img [src]="cardImg" class="cell-img" />
            <div class="prix">{{ price }}€</div>
        </div>
    </ng-container>

    <ng-container *ngIf="cardtype === CardType.eaux">
        <div class="cell-content">
            <div class="name" [innerHTML]="name"></div>
            <div class="symbol" [style.color]="color">
                <img [src]="cardImg" class="cell-img" />
            </div>
            <div class="prix">{{ price }}€</div>
        </div>
    </ng-container>

    <ng-container *ngIf="cardtype === CardType.elec">
        <div class="cell-content" [class.content-ml2]="orientation==='horizontal'">
            <div class="name" [innerHTML]="name"></div>
            <div class="symbol" [style.color]="'#fff202'">
                <img [src]="cardImg" class="cell-img" />
            </div>
            <div class="prix">{{ price }}€</div>
        </div>
    </ng-container>

    <ng-container *ngIf="cardtype === CardType.taxe">
        <div class="cell-content" [class.content-ml2]="orientation==='horizontal'">
            <div class="name" [innerHTML]="name"></div>
            <div class="symbol" [style.color]="color">
                <i class="fa-solid fa-gem diamand"></i>
            </div>
            <div class="prix">{{ price }}€</div>
        </div>
    </ng-container>
    <ng-container *ngIf="cardtype === CardType.impots">
        <div class="cell-content">
            <div class="name" [innerHTML]="name"></div>
            <div class="symbol" [style.color]="color">
                <img [src]="cardImg" class="cell-img" />
            </div>
            <div class="prix">{{ price }}€</div>
        </div>
    </ng-container>



    <ng-container *ngIf="cardtype === CardType.parking">
        <div class="cell-content square  rotate-45">
            <div class="name" [innerHTML]="name"></div>
            <div class="symbol parking">
                <img [src]="cardImg" class="cell-img" />
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="cardtype === CardType.toprison">
        <div class="cell-content square rotate-min-45">
            <div class="name" [innerHTML]="name"></div>
            <div class="symbol" [style.color]="'red'">
                <img [src]="cardImg" class="cell-img" />
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="cardtype === CardType.prison">
        <div class="cell-content square">
            <div class="name" [innerHTML]="name"></div>
            <div class="symbol" [style.color]="'#f58223'">
                <img [src]="cardImg" class="cell-img" />
            </div>
            <div class="info" [innerHTML]="info"></div>
        </div>
    </ng-container>


    <ng-container *ngIf="cardtype === CardType.start">
        <div class="cell-content square indian-color">
            <div class="name" [innerHTML]="name"></div>
            <div class="symbol" [style.color]="'white'">
                <i class="fa-solid fa-play"></i>
            </div>
            <div class="info" [innerHTML]="info"></div>
        </div>
    </ng-container>



</div>
