.card {
    margin: 1rem;
    width: 40rem;
}

.card-header {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .card {
        width: auto;
    }
}

.selected {
    border: 2px solid red;
}