<div class="row g-3 align-items-center">
    <div class="col-2">
        <label for="playerName" class="form-label">Name</label>
    </div>
    <div class="col-6">
        <input class="form-control" type="text" id="playerName">
    </div>
    <div class="col-auto">
        <select class="form-select" aria-label="Disabled select example">
      <option selected>Avatar</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
    </div>
</div>
