<div class="chance-card" (click)="flipCard()" [class.flipped]="isFlipped">
    <div class="chance-card-inner">
        <div class="chance-inside-card-border chance-card-front">
            <div class="chance-inside-card">
                <div class="card-content">
                    <div class="lotus"></div>
                </div>
            </div>
        </div>
        <div class="chance-inside-card-border  chance-card-back">
            <div class="chance-inside-back-card">
                <h4>Chance</h4>
                <p [innerHTML]="'Vous avez gagné 200€ !'"></p>
            </div>
        </div>
    </div>
</div>
