<div class="chance-card" (click)="!chanceCard && takeCard()" [class.flipped]="isFlipped && chanceCard" [class.disabled]="chanceCard">
    <div class="chance-card-inner">
        <div class="chance-inside-card-border chance-card-front">
            <div class="chance-inside-card">
                <div class="card-content">
                    <div class="lotus"></div>
                </div>
            </div>
        </div>
        <div class="chance-inside-card-border  chance-card-back">
            <div class="chance-inside-back-card">
                <h4>Chance</h4>
                <p [innerHTML]="chanceCard?.text"></p>
            </div>
        </div>
    </div>
</div>