p {
    font-size: 0.85rem;
    color: #888;
    justify-content: center;
    align-items: center;
    display: flex;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #4c242f;
    padding: 0.5rem;
    text-align: center;
    z-index: 1000;
}
