<div class="card-container">
    <div class="flip-card" (click)="toggleFlip()">
        <div class="flip-card-inner" [ngClass]="{'flipped': isFlipped}">
            <div class="flip-card-front">
                <div class="card-body">
                    <div class="card-header" [style.background-color]="backcolor">
                        <h4> {{ street }}</h4>
                        <h4>{{ city }}</h4>
                    </div>
                    <div class="card-content d-flex flex-column">
                        <h5 class="mx-auto ">Loyer {{ loyer }}€</h5>

                        <div class="d-flex justify-content-between">
                            <div>Avec groupe complet</div>
                            <div class="ml-auto">{{groupecomplet}}€</div>
                        </div>

                        <div class="d-flex justify-content-between" *ngFor="let config of maisonConfigs">
                            <div class="d-flex">Avec
                                <i class="bi bi-house-fill  fs-3 house-green ms-2" [class.text-danger]="config.nombre === 5">
                            <span *ngIf="config.nombre < 5"> {{ config.nombre }}</span>
                          </i>
                            </div>
                            <div class="ml-auto">{{ config.montant }}€</div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="flip-card-back">
                <!-- Contenu arrière -->
                <p>Informations supplémentaires</p>
            </div>
        </div>
    </div>
