<div class="card-container">
    <div class="flip-card" (click)="toggleFlip()">
        <div class="flip-card-inner" [ngClass]="{'flipped': isFlipped}">
            <div class="flip-card-front">
                <div class="card-body">
                    <div class="card-header" [style.background-color]="backcolor">
                        <span>Titre de propriété</span>
                        <h4>{{ name }}</h4>
                    </div>
                    <div class="card-content">
                        <h5>Loyer {{ loyer }}€</h5>

                        <div class="row">
                            <div class="col-md-6 mb-4">
                                Avec 1 Vie
                            </div>
                            <div class="col-md-6 mb-4">
                                200€
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-4">
                                Avec 1 Vie
                            </div>
                            <div class="col-md-6 mb-4">
                                200€
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flip-card-back">
                    <!-- Contenu arrière -->
                    <p>Informations supplémentaires</p>
                </div>
            </div>
        </div>
    </div>
